.myfooter{
  background-color: #232027;

  li{
    list-style: none;
  }
  h5{
    font-size: 100%;
    font-weight: bold;
  }
  a{
    font-size: 75%;
    color: #ABA8AF !important;
    cursor: pointer;
  }
  a:hover{
    color: #2FCFCF !important;
  }

  ul{
    list-style: none;
    padding-left: 0;
  }

  svg{
    fill: white;
  }
  svg:hover{
    fill: #2FCFCF ;
  }
}

.myfooter *{
  color: white !important;
}

.url_container{
  background-color: white;
  min-height: 80px;
  padding: 20px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
